*{
}

:root{
  font-size: 26px;
}

body{
    --lightgreen: #D7FCD4;
    background-color: white;
    /* font-family: 'Gabarito', cursive; */
    --font: 'Roboto Slab', serif;
    font-family:var(--font);
    --metacritic-green: #00ce7a;
    padding: 0;
    margin: 0;

}

.header{
  font-size: clamp(.2rem,1.7rem,2rem);
  margin-top: 0;
  top:0%;
  left: 0%;
  margin-left: 3px;
}

.banner{
  background-color: black;
  position: static;
  width: 100%;
  /* text-align: center; */
  padding: 0;
  margin: 0;
  border-radius: 3px;
  max-height: 2.2rem;
  /* box-shadow: 5px 5px 5px rgba(233, 206, 206, 0.822) ; */
}

.logo{
  position: relative;
  bottom:.2rem;
  max-width:2rem;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score{
  font-family: ProximaNova,sans-serif;
    text-align: center;
    visibility: hidden;
    background-color: var(--metacritic-green);
    border-radius: 6px;
    height: 3.5rem;
    width: 3.5rem; 
    font-size: 2.25rem;
    font-weight: bolder;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
.form-container{
  /* min-width: 18rem; */
}

.guess{
  position: relative;
  right: 1rem;
  min-height:1rem;
  min-width: 5rem;
  max-width: 10rem;
  bottom: .1rem;
}

.round{
  position: relative;
  right: 1rem;
}


footer{
  position: absolute;
  height: 1.8rem;
  bottom: 0%;
  background-color: #ffbd3f;
  width: 100%;
}

#pic{
    animation: bounce 1s infinite;
    max-width: 10em;
    box-shadow: 10px 5px 5px #ffbd3f; 
    border-radius: 20px; 
    border: 2px solid var(--our-pink);
}

#btn{
    position: relative;
    right: 1rem;
    cursor: pointer;
    font: inherit;
    font-size: .8rem;
    font-weight: bold;
    min-height: 1.4rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;

}

.button{
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: white;
  color: var(--our-pink);
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  
}

.button:hover{
  transform: translateY(-2px);
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(-3%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}